<section class="contLanding">

    <div class="contMain">
        <h1 class="logo">LOGO</h1>
        <h3>Esta es una app para aprender idiomas con personas similares a ti, para que compartan su idioma nativo con alguien que esté interesado...</h3>
    </div>

    <div class="contBtn">
        <a href="/select" id="lanSelect">Select Profile</a>
        <a href="/register" id="lanRegistro">Create Profile</a>
    </div>

</section>